# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.eggs/

# Django
db.sqlite3
db.sqlite3-journal
*.sqlite3
.env
media/
staticfiles/

# Frontend (vite)
node_modules/
dist/
.vite/

# SO
.DS_Store
Thumbs.db